<ion-view view-title="My Account">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="toggleDitails()" ng-class="{active:!getState()}">
      <i class="icon ion-edit"></i>
    </button>
  </ion-nav-buttons >

  <ion-content>
    <form>
      <div class="list">

         <label class="item item-thumbnail">
                <img ng-src="{{loginData.imgSrc}}">
          </label>

        <label class="item item-thumbnail" ng-If="getState()">
          <div class="buttons" >
            <button class="button button-block button-outline button-positive" ng-click="changeImage()" end>Change Image</button>
          </div>
        </label>


        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Name</span>
          <input type = "text" placeholder = "My name"  id="name" ng-model="loginData.Name" readonly=true/>
        </label>

        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Surname</span>
          <input type = "text" placeholder = "My Surname"  id="surname" ng-model="loginData.surname" readonly=true/>
        </label>

        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Username</span>
          <input type = "text" placeholder = "My Username"  id="username" ng-model="loginData.username" readonly=true/>
        </label>

      <label class = "item item-input item-stacked-label">
          <span class = "input-label">Company</span>
          <input type = "text" placeholder = "My company"  id="company" ng-model="loginData.company" readonly=true/>
      </label>

        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Phone Numb.</span>
          <input type = "text" placeholder = ""  id="phoneNumber" ng-model="loginData.phoneNumber" readonly=true/>
        </label>


        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Email</span>
          <input type = "email" placeholder = "-@-."  id="email" ng-model="loginData.email" readonly=true/>
        </label>


        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Password</span>
          <input type = "password" placeholder = ""  id="password" ng-model="loginData.passwod" readonly=true/>
        </label>


      </div>

      <div class="buttons" ng-If="!getState()">
        <button class="button button-block button-full button-assertive" ng-click="logout()" end>Log out</button>
      </div>
      <div class="buttons" ng-If="getState()">
        <button class="button button-block button-full button-balanced icon icon-right ion-checkmark-round " end ng-If="getState()" ng-click="saveChanges()">Save Changes</button>
      </div>
    </ion-content>

  </ion-view>
