<ion-view view-title="My Account">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="toggleDitails()" ng-class="{active:!getState()}">
      <i class="icon ion-edit"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
      
    <form>
      <div class="list">

         <label class="item item-thumbnail">
                <img ng-src="{{salseman.imgSrc}}">
          </label>

        <label class="item item-thumbnail" ng-If="getState()">
          <div class="buttons" >
            <button class="button button-block button-outline button-positive" ng-click="changeImage()" end>Change Image</button>
          </div>
        </label>


        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Name</span>
          <input type = "text" placeholder = "My name"  id="name" ng-model="salseman.name" value="{{salseman.name}}" readonly=true/>
        </label>

        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Surname</span>
          <input type = "text" placeholder = "My Surname"  id="surname" ng-model="salseman.surname" value="{{salseman.surname}}" readonly=true/>
        </label>

        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Username</span>
          <input type = "text" placeholder = "My username"  id="username" ng-model="salseman.username" value="{{salseman.username}}" readonly=true/>
        </label>

      <label class = "item item-input item-stacked-label">
          <span class = "input-label">Company</span>
          <input type = "text" placeholder = "My company"  id="company" ng-model="salseman.company" value="{{salseman.company}}" readonly=true/>
      </label>

        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Phone Numb.</span>
          <input type = "text" placeholder = ""  id="phoneNumber" ng-model="salseman.phoneNumber" value="{{salseman.phoneNumber}}" readonly=true/>
        </label>


        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Email</span>
          <input type = "email" placeholder = "-@-."  id="email" ng-model="salseman.email" value="{{salseman.email}}" readonly=true/>
        </label>


        <label class = "item item-input item-stacked-label">
          <span class = "input-label">Password</span>
          <input type = "password" placeholder = ""  id="password" ng-model="salseman.password" value="{{salseman.password}}" readonly=true/>
        </label>
          
      
        
        <button ng-If="getState()" class="button button-block button-full button-balanced icon icon-right ion-checkmark-round " end 
                ng-click="saveChanges()">
            Save Changes
        </button>

      </div>
      </form>
        
    </ion-content>

  </ion-view>
