<ion-view view-title="Clients Details">
	<ion-content>
		<div class="card">
          <div class="item item-body item-text-wrap">
               <img class="full-image" ng-src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAjhAAAAJDhlMGVhZjg5LTZmMjYtNDg1ZS05MDQxLWJiODEwY2E4NTgxYw.jpg">
                <h1>Client 1</h1>
                 <div>
									 <h2><i class="icon ion-ios-telephone"></i> 333 326245</h2>
										 <h2><i class="icon ion-email"></i> enzo.martino.94@gmail.com</h2>
									 <div>
          </div>
      </div>
	</ion-content>
</ion-view>
