<ion-modal-view >

	<ion-header-bar>
		<h1 class="title">Clients details</h1>
		<div class="buttons">
			<button class="button button-clear button-dark" ng-click="closeClientDetails()">Close</button>
		</div>
	</ion-header-bar>

	<ion-content>

				<img class="full-image" ng-src="client.imgSrc" alt="image">
				<p><strong>Name : </strong><h3>{{client.name}}</h3></p>
				<p><strong>Surname: </strong> <h3> {{client.surname}}</h3></p>
				<p> <strong>Email: </strong> <h3> {{client.email}}</h3></p>


					<button class = "button button-calm button-clear button-full icon ion-android-send icon-right">
   					Sand Message to {{client.name}} {{client.surname}}
					</button>

				<div class = "bar bar-footer bar-assertive">
						<h1 class = "title">
						<i class="icon ion-android-delete"></i> Delete Client</h1>
				</div>


			</ion-content>

		</ion-modal-view>
