<ion-view view-title="My Clients">

	<ion-nav-buttons side="secondary">
		<button class="buttons button-icon ion-android-search" ng-click="showFilterBar()"></button>
	</ion-nav-buttons>
	<ion-floating-button click="addClient()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff"></ion-floating-button>

	<ion-content>
		<div class="list">
			<a class="item item-avatar item item-icon-right" href="#/app/clientDetails" ng-repeat="client in clients">
				<img src="{{client.image}}" alt="Image">
				<i class="icon ion-ios-arrow-forward"></i>
				<h2>{{client.name}}
					{{client.lastname}}</h2>
				<p>{{client.email}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>
