<ion-view view-title="My Clients" hide-back-button="true">
	<ion-nav-buttons side="secondary">
		<button class="buttons button-icon ion-android-search" ng-click="showFilterBar()"></button>
	</ion-nav-buttons>
	<ion-floating-button click="addClient()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff"></ion-floating-button>

	<ion-content>
		<ion-list>
			<div class="list">

				<a class="item item-avatar" href="#/app/clientDetails" ng-repeat="client in clients">
					<img src="{{client.image}}" alt="Image">
					<h2>{{client.firstname}}
						{{client.lastname}}</h2>
					<p>{{client.email}}</p>
				</a>

				<div></ion-list>
			</ion-content>
		</ion-view>
