<ion-view view-title="My Clients" hide-back-button="true">
	<ion-nav-buttons side="secondary">
		<button class="buttons button-icon ion-android-search" ng-click="showFilterBar()"></button>
	</ion-nav-buttons>
	<ion-floating-button click="addClient()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff"></ion-floating-button>

	<ion-content>

			<div class="list" >

				<div class="item item-avatar"  ng-repeat="client in clients" ng-click="openClientDetails({{client.id}})">
					<img src="{{client.imgSrc}}" alt="Image">
					<h2>{{client.name}} {{client.surname}}</h2>
				</div>

			</div>
			</ion-content>
		</ion-view>
