<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear button-dark" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <form ng-submit="doLogin()">

    <ion-content>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <button class="button button-clear icon icon-right ion-forward pull-right" type="submit" end>
        <strong>Log in</strong>
      </button>
    </ion-footer-bar>
  </form>
</ion-modal-view>
