<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">New Publication</h1>
		<div class="buttons">
			<button class="button button-clear button-dark" ng-click="closeNewPublication()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Publication's title</span>
				<input type="text">
			</label>

			<label class="item item-thumbnail">
				<span class="input-label">Image of Publication</span>
				<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAjhAAAAJDhlMGVhZjg5LTZmMjYtNDg1ZS05MDQxLWJiODEwY2E4NTgxYw.jpg">
				<div class="buttons">
					<button class="button button-block button-outline button-positive" ng-click="picGalleryfoPublication()" end>Change Image</button>
				</div>
			</label>

			<div class="card">
				<div class="item">
					Description:
				</div>

				<div class="item">
					<textarea id="descriptionArea" placeholder="Write the description here" ng-keyup="expandText()" ng-keydown="expandText()"></textarea>
				</div>
			</div>

			<label class="item item-toggle">
				Special
				<label class="toggle">
					<input type="checkbox" ng-click="changeState()"/>
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</label>

		</div>
	</ion-content>
	<ion-footer-bar class="bar-positive">
		<button class="button button-clear icon ion-close-round pull-left" ng-click="clearMessage()">Clear</button>

		<button class="button button-clear icon icon-right  ion-checkmark-round pull-right">Sand</button>
	</ion-footer-bar>
</ion-modal-view>
