<ion-view view-title="Publications">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="openNewPublication()">
      <i class="icon ion-plus-circled"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
      <div class = "list" ng-repeat="publication in publications | filter:{type: filtText}"  >
              <div class = "item item-body" >
                    <h2>Title: {{publication.title}}</h2>
                      <img class="full-image" src="{{publication.imgSrc}}" alt="Publication image">
                      <p>Description:</p>
                      <p>{{publication.description}}</p>
                </div>
                <div class = "item item-icon-left" ng-click="openPublicationDetails()">
                    <i class = "icon ion-information"></i>
                    <span class = "text-note">more info</span>
                  </div>
          </div>
  </ion-content>

  		<ion-footer-bar>
            <a ng-class="{active: isSelected(1}" class="tab-item " ng-click="select(1)">
              <i class="icon ion-ios-filing"></i>
            </a>

            <a ng-class="{active:isSelected(2)}"  class="tab-item " ng-click="select(2)" >
              <i class = "icon ion-android-clipboard"></i>
            </a>

            <a ng-class="{active:isSelected(3)}" class="tab-item" ng-click="select(3)">
              <i class = " icon ion-ios-star"></i>
            </a>
  		</ion-footer-bar>
</ion-view>
