<ion-modal-view view-title="Publication Details">
  <ion-content>
      <h1 align="center">Title: {{publication.title}}</h1>
          <div class="item item-body item-text-wrap">
               <img class="full-image" ng-src="{{publication.imgSrc}}">
                <h1>Description</h1>
                 <div class="row">
                   <h2>{{publication.description}}</h2>
									 </div>
                   <div class="row">
                     <h2>Type : {{publication.type}}</h2>
                   </div>
                   <br>
                   <div class="row">
                     <button class="button button-block button-assertive">
                        Delete publication
                      </button>
                    </div>
  </ion-content>
</ion-modal-view>
