<ion-modal-view>
	<ion-header-bar>

		<h1 class="title">Registration User</h1>
		<div class="buttons">
			<button class="button button-clear button-dark" ng-click="closeRegistration()">Close</button>
		</div>
	</ion-header-bar>
		<ion-content>
	<form ng-submit="doRegister()">

			<div class="list">
                <label class = "item item-input item-stacked-label">
                  <span class = "input-label">Name</span>
                  <input type = "text" placeholder = "My name"  id="name" ng-model="registrationData.name" />
                </label>

                <label class = "item item-input item-stacked-label">
                  <span class = "input-label">Surname</span>
                  <input type = "text" placeholder = "My Surname"  id="surname" ng-model="registrationData.surname" />
                </label>

                <label class = "item item-input item-stacked-label">
                  <span class = "input-label">Username</span>
                  <input type = "text" placeholder = "My Username"  id="username" ng-model="registrationData.username" />
                </label>

              <label class = "item item-input item-stacked-label">
                  <span class = "input-label">Company</span>
                  <input type = "text" placeholder = "My company"  id="company" ng-model="registrationData.company" />
              </label>

            <label class = "item item-input item-stacked-label">
              <span class = "input-label">Phone Numb.</span>
              <input type = "number" placeholder = ""  id="phoneNumber" ng-model="registrationData.phoneNumber" />
            </label>


            <label class = "item item-input item-stacked-label">
              <span class = "input-label">Email</span>
              <input type = "email" placeholder = "-@-."  id="email" ng-model="registrationData.email"/>
            </label>


            <label class = "item item-input item-stacked-label">
              <span class = "input-label">Password</span>
              <input type = "password" placeholder = ""  id="password" ng-model="registrationData.password"/>
            </label>

              <label class = "item item-input item-stacked-label">
                  <span class="input-label">Your Picture</span>
                  <img class="padding" ng-src="{{registrationData.imgSrc}}">
              </label>

				<label class="item item-thumbnail">
						<button class="button  button-block button-dark button-outline icon icon-left ion-camera" ng-click="takePictureReg()">Take Picture</button>
				</label>
				<label class="item item-thumbnail">
						<button class="button button-block  button-positive button-outline icon icon-left ion-image " ng-click="picGalleryReg()">Gallery</button>
				</label>

			</div>
				</form>
		</ion-content>


		<ion-footer-bar class="bar-positive">
			<button class="button button-clear icon icon-right ion-forward pull-right" ng-click="doRegistration()" end>
				<strong>Register</strong>
			</button>
		</ion-footer-bar>

</ion-modal-view>
