<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="grid">
      <div class="row">

        <div class="col" align="center">
          <img src="img/logo.png">
        </div>

      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced " ng-click="showLoginPopup()">Log in</button>
        </div>
        <div class="col">
          <button class="button button-block button-positive " ng-click="register()">Create account</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
